/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../assets/css/variables';
@import '../../assets/css/typography';
@import '../../assets/css/mixins';

.wp-block-claretdctheme-floorplangallery {
  background-color: #21759b;
  color: #fff;
  padding: 2px;
}

.grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  // gap: 9px;
  // text-align: center;
}
/* fluid 5 columns */

.grid-sizer,
.grid-item {
  width: calc(33.833333% - 2rem);
  // margin-bottom: 0.65rem;
  // margin-inline-end: 9px;
  @media only screen and (max-width: 780px) {
    width: 100%;
  }
}
/* 2 columns */
.grid-item--width2 {
  width: 40%;
}
.grid-item {
  img {
    width: 85%;
  }

  h5,
  h6 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

// Filter Styling
.floorplanGallery {
  &__filter {
    text-align: center;
    padding: 3rem;
  }
}

.filter-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .filter-button {
    transition: all 1s;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    border-color: var(--wp--preset--color--gold);
    border-width: 1px;
    border-style: solid;
    color: var(--wp--preset--color--gold);
    text-transform: uppercase;
    text-align: center;
    font-family: $roboto;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8em;

    &:hover {
      background-color: var(--wp--preset--color--gold);
      color: white;
    }

    &.active {
      background-color: var(--wp--preset--color--gold);
      color: white;
    }

    @media only screen and (max-width: 700px) {
      width: 85%;
    }
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
}

// Floorplan Tombstone Styling

.floorplan {
  transition: all 3s;
  padding: 1em 0.25em;
  margin: 1rem 0;
  text-align: center;

  a {
    transition: all 2s;
    text-decoration: none;
    // background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0px;
    border-color: var(--wp--preset--color--gold);
    border-width: 1px;
    border-style: solid;
    color: var(--wp--preset--color--gold);
    text-transform: uppercase;
    text-align: center;
    font-family: $roboto;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.8em;

    &:hover {
      background-color: var(--wp--preset--color--gold);
      color: white;
    }
  }
}
.floorplan__info {
  text-transform: uppercase;
  text-align: center;
  hr {
    width: 67%;
    color: $gold;
  }
  color: $gold;

  h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.25em;
    line-height: 1.5;

    // width: 90%;
  }
  h3 {
    text-align: center;
    font-family: $roboto;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.7em;
  }
}
