// .home-main {
//   height: 100vh;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   .entry-content {
//     min-height: 100vh;
//     .wp-block-group {
//       min-height: 100vh;
//     }
//   }
// }

html,
body,
.wp-site-blocks {
  height: 100%;
}
html {
  padding-bottom: 17vh;
}
// keep background image of floor clear of blocks
footer {
  min-height: 17vh;
}

// change page background on about page
.aboutPageCover {
  align-items: center;
  background-position: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  img {
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0;

    box-shadow: none;
    max-height: none;
    max-width: none;
    object-fit: cover;
    outline: none;
    padding: 0;
    position: absolute;
    width: 100%;
  }
}
