// .home-main {
//   height: 100vh;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   .entry-content {
//     min-height: 100vh;
//     .wp-block-group {
//       min-height: 100vh;
//     }
//   }
// }

html,
body,
.wp-site-blocks {
  height: 100%;
}
html {
  padding-bottom: 17vh;
}
// keep background image of floor clear of blocks
footer {
  min-height: 17vh;
}
