/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../assets/css/mixins';

$logo-width: 72px;
.wp-block-tenthousandcuts-titleblock {
  // background-color: #21759b;
  // color: #fff;
  // padding: 2px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  .title_block {
    width: 100%;
    display: flex;
    // position: relative;
    justify-content: flex-start;
    align-items: center;

    // gap: -2rem;
    &__logoGroup {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    &__logo {
      width: $logo-width;
      opacity: 0.15;
      img {
        width: 100%;
        display: block;
      }
    }
    &__headlines {
      // position: absolute;
      // top: 0;
      margin-left: calc(-1 * $logo-width);
      white-space: nowrap;
      text-decoration: none;
      // background-color: lightblue;

      h1,
      h2 {
        font-family: var(--wp--preset--font-family--body);
        font-weight: 100;
        // @include atLarge {
        //   text-align: right;
        // }
      }
      h1 {
        font-size: var(--wp--preset--font-size--large) !important;
      }
      h2 {
        font-size: var(--wp--preset--font-size--medium) !important;
        color: var(--wp--preset--color--contrast-3) !important;
      }
      a {
        text-decoration: none;
      }
    }

    &__menu {
      // background-color: red;
      padding: 2px;
      // width: 46px;
      position: relative;
      overflow: hidden;
      width: 100%;
      text-align: right;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 9px;

      @include atSmall {
        flex-direction: column;
        justify-content: flex end;
        align-items: end;
        gap: 0;
      }

      &--burger {
        cursor: pointer;
        transition: all 0.5s;
        font-size: var(--wp--preset--font-size--small);
      }

      &--dropdown {
        z-index: 200;
        // background-color: red;
        // padding: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        transition: all 1.5s;
        transform: translateX(105%);
        display: flex;
        gap: 9px;
        flex-direction: row;
        text-align: right;
        justify-content: flex-end;
        align-items: end;

        &--container {
          overflow: hidden;
        }
      }
    }

    .menu_item {
      text-decoration: none;
      cursor: pointer;
      font-family: var(--wp--preset--font-family--body);
      font-weight: 100;
      line-height: 1.2;

      &:hover {
        font-weight: 300;
      }

      &:focus {
        border: none !important;
        outline: none !important;
      }

      &_close {
        font-size: var(--wp--preset--font-size--small);
        padding-bottom: 1px;
      }
    }
    @include atMedium {
      padding-left: 1em;
      padding-right: 1em;
    }
    @include atSmall {
      padding-right: 0;
    }
  }
}

.aboutModal {
  transition: all 3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: none; /* Initially hidden */
  justify-content: center;
  align-items: center;
  &-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
}

// force correct flex when part of header
// header > div > .wp-block-tenthousandcuts-titleblock > .title_block {
//   display: flex;
//   justify-content: flex-start;
//   gap: 0.5rem;
//   align-items: center;
//   flex-direction: row;
//   h1,
//   h2 {
//     text-align: left;
//   }
// }
