/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import '../../assets/css/mixins';

.single-artwork__container {
  display: block;
  // background-color: pink;

  scroll-behavior: smooth;
  overflow: scroll;
  position: fixed;
  height: 55vh;
  max-height: 55vh;
  top: 26%;
  left: 0;
  right: 0;
  width: 100%;

  // margin: auto 10%;

  margin: auto;
  max-width: var(--wp--style--global--wide-size);
  /* ! Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* ! Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  img {
    // width: 100%;
    max-width: 100%;
  }
}

.single-artwork__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--wp--style--block-gap);
  align-items: flex-start;
}
.single-artwork__image {
  max-width: 50%;
  img {
    max-height: 55vh;
  }
  &--wide {
    max-width: 100%;
  }
  &--landscape {
    max-width: 100%;
    img {
      max-height: 50vh;
    }
  }
  @include atSmall {
    max-width: 100%;
    img {
      max-height: none;
    }
  }
}

.single-artwork__info {
  // min-width: 0;
  flex: 0 0 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--wp--style--block-gap) 0;

  &--wide {
    flex-grow: 1;
  }
  &--landscape {
    flex-grow: 1;
  }

  // flex-grow: 1;
  hr {
    margin-top: var(--wp--preset--spacing--10);
    margin-bottom: var(--wp--preset--spacing--20);
    opacity: 0.2;
    border-color: var(--wp--preset--color--accent-2);
    width: 80%;
    margin-right: auto;
  }

  h1,
  h2,
  h5 {
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: var(--wp--preset--font-size--large);
  }
  h5 {
    margin-bottom: 0rem;
    font-family: var(--wp--preset--font-family--marcellus);
    font-size: var(--wp--preset--font-size--small);
    font-weight: 200;

    color: var(--wp--preset--color--accent-2);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 100;
    font-family: var(--wp--preset--font-family--body);
    color: var(--wp--preset--color--contrast-1);
    span.seperator {
      color: var(--wp--preset--color--accent-5);
    }
    &.description {
      // height: 18vh;
      margin-bottom: 1rem;
      overflow: scroll;
      margin-top: 1rem;
      font-weight: 300;

      font-size: var(--wp--preset--font-size--medium);
    }
  }

  .links {
    text-transform: uppercase;
    a {
      text-decoration: none;
    }
    h5 {
      font-family: var(--wp--preset--font-family--body);
      font-size: var(--wp--preset--font-size--medium);
      color: var(--wp--preset--color--accent-2);
    }
    display: flex;
    gap: 3px;
  }

  .pagination {
    margin: auto;
    margin-top: 1.5rem;
    max-width: var(--wp--style--global--wide-size);

    display: flex;
    justify-content: space-between;
    a {
      font-family: var(--wp--preset--font-family--marcellus);
      font-size: var(--wp--preset--font-size--small);
      color: var(--wp--preset--color--contrast-2);

      text-decoration: none;
    }

    position: fixed;
    bottom: 5%;
    left: 9px;
    right: 9px;
  }

  @include atSmall {
    padding-top: 0;
    h1 {
      font-size: var(--wp--preset--font-size--x-large);
      margin-bottom: 0;
    }

    .info {
      margin-top: 0;
      font-size: 0.75rem;
    }
  }
}

.artworkinfo-titleblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avaiableBTN {
  // margin-top: 1em;
  font-size: var(--wp--preset--font-size--x-small) !important;
}
